::selection{
	background-color: #444;
	/*color: white;*/
	}
#rien{
	margin-bottom:0px;
        width:3cm;
        height:3cm;
        text-align:center;
        opacity:0;
   }	
body{ 
          background-image:url("../IMAGES/BGajout.png");
	  background-size: 100% 150%;
          margin-top:10px;
	  
	  vertical-align:middle;
	  font:verdana;
	  color:orange;
	  font-size:14pt;
          
          
          
	}  
form{ 
		/*background-color:white;*/
		
                text-align:left;
                
		display:block;
		
		height:400px;
		margin-left:55px;
		padding:40px;
                padding-left:10px;
		border-radius:5px;
		
	}
pre{
     display:inline-block;
     font:verdana;
     font-size:12pt;
     text-shadow:0.5px 0.5px black;
     
	}
.boutton{   
			margin-left:10px;
			padding:4px;
			color:grey;
			font:verdana;
			width:200px ;
			height:20px;
		    border:solid orange 2px;
			border-radius:4px;
                        opacity:0.6;
                        box-shadow:orange 0px 0px 1px 1px;
                        
			
		}
.boutton:Focus{
			border:solid orange 2px;
			}
#envoi:hover{
			cursor:pointer;
			}
#envoi{     
                       margin-top:35px;
                       margin-left:0px;
			padding:8px;
			width:300px ;
			background-color:orange;
		    border:solid orange 2px;
			border-radius:6px;
			color:white;
			font-size:14pt;
                        box-shadow: 0px 0px 0.5px 0.25px; 
                        display:block;
                        position:absolute;
                        right:45%;
                        
	}
#copy{ 
        
    text-align:center;
        margin-top:30px;
        color:black;
        opacity:0.2;
        text-shadow:1px 1px black;
       position:absolute;
        right:43%;
        bottom:10px;
        
}

#grp1{display:inline-block;}
           
#grp2{
       display:inline-block;
       margin-left:10px;
     }
#user{
         
         text-shadow:0.5px 0.5px black;
         color:#552500;
         font-family:"times new roman";
         display:inline-block;
         padding-bottom:20px; 
        font-size:13pt;
        font-weight:normal;
        position:absolute;
        bottom:4px;
        left:92px;
        vertical-align:middle;
        }
.span2{
        font-size:12pt;
        font-family:"times new roman"; 
        color:orange;
       margin-right:5px;
     }
#userPic{
        width:1.8cm;
        height:1.8cm;
         position:absolute;
        bottom:12px;
        left:20px;
        
}